.nav-bar:hover {
    background-color: rgb(179, 191, 189);
}

.about-container {
    width: 100%;
    height: 550px;
    margin-left: 25px;
    margin-top: 150px;
}

.about-container h2 {
    text-align: center;
    color: #687271;
    font-size: 3em;
}

.about-box {
    height: 450px;
    width: 30%;
    border: 3px solid blue;
    float: left;
    margin-left: 20px;
}

.about-img, .about-audio {
    display: block;
    margin: auto;
    margin-top: 25px;
}

.about-box p {
    margin: 20px;
}